doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title MWF | Register User
  link(rel='stylesheet' href='/css/style.css')
header.site-header
  h1 Mayondo Wood &amp; Furniture (MWF) Ltd
  p.subtitle Register Manager &bull; Sales Agent
main.container
  section.tab-panel.active
    .form-wrapper
      form.card(action='/login' method='POST' autocomplete='on' novalidate='')
        h2 Register Manager / Sales Agent
        .grid
          .field
            label(for='email')
              | Email
              span *
            input#email(name='email' type='email' placeholder='manager@mwfuganda.com' required='')
          .field
            label(for='password')
              | Password
              span *
            input#password(name='password' type='password' minlength='6' required='')
        .actions
          button.btn.primary(type='submit') LOGIN
          button.btn.ghost(type='reset') Clear
        p.hint By submitting, you agree that all provided information is accurate.
      .form-image
        img(src='/images/img2.jpg' alt='User Registration')
footer.site-footer
  small
    | &copy; 
    span#year
    |  MWF Ltd &bull; All rights reserved.
script(src='/script/script.js')
